body {
    background-color: rgb(248, 223, 189);
}
h2 {
    color: brown;
}
ul{
    color: rgb(49, 4, 153);
}
ol {
    color: rgb(5, 123, 84);
}
li
{
    color: rgb(19, 12, 242);
}
p {
    color: rgb(247, 9, 148);
}